@import './Layout/Layout.scss';
@import './components/Burger/Burger.scss';
@import './components/BurgerIngredient/BurgerIngredient.scss';

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}